* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: url(../static/background.png);
    background-size: cover;
    background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.6;
}

.container {
	width: 50%;
	margin: 100px auto;
	overflow: auto;
    background: #7bca21;
	padding: 40px;
	border-radius: 10px;
}

h3 {
	margin-top: 15px;
	margin-bottom: 10px;
	color: #fff;
}

h5 {
	padding-left: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: black;
}

img {
	width: 100%;
}

.message {
	text-align: center;
	padding: 5px;
	border: #ccc dotted 2px;
	margin-top: 2rem;
}

.logo {
	width: 300px;
	display: block;
	margin: auto;
}

.form-group {
	margin: 1rem 0;
}

input[type='text'],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border-radius: 1px solid #ccc;
}

input[type='password'],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border-radius: 1px solid #ccc;
}

.btn {
	display: block;
	width: 100%;
	background:#167f30;
	color: #fff;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 12px;
	border: 2px;
	cursor: pointer;
	outline: none;
	margin-top: 2rem;
	transition-duration: 0.4s;
}	
.btn:hover{
	background-color: #38b156;
}